<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
        <dict>
            <key>Regular Expression</key>
            <string>(?s)^.{1,90}$</string>
            <key>Title</key>
            <string>一淘搜</string>
            <key>URL</key>
            <string>http://s.etao.com/search?q={popclip text}</string>
        </dict>
        <dict>
            <key>Regular Expression</key>
            <string>http.*\.(amazon|tmall|taobao|51buy|yixun|gome|yihaodian|vipshop|lefeng|bjia|jumei|xiu|m18|homevv|moonbasa|womai|vancl)\.(cn|com|com\.cn)\/.*</string>
            <key>Title</key>
            <string>一淘省</string>
            <key>URL</key>
            <string>http://ok.etao.com/item.htm?url={popclip text}</string>
        </dict>
	</array>
	<key>Credits</key>
	<array>
		<dict>
			<key>Link</key>
			<string>http://nan.im/</string>
			<key>Name</key>
			<string>nan.im</string>
		</dict>
	</array>
    <key>Extension Name</key>
    <string>一淘优惠</string>
	<key>Extension Identifier</key>
	<string>im.nan.popclip.etao</string>
    <key>Extension Description</key>
    <string>Open ok.eTao for save money.</string>
</dict>
</plist>

